* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black1: #111;
    --black2: #222;
    --white1: #eee;
    --white2: #ddd;
    --red: #FF0000;
    --blue: #4169E1;
}

/* img: https://www.pexels.com/photo/black-sand-dunes-2387793/ */

body {
    color: var(--white1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heroImage {
    align-items: center;
    background: url(img.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 5px 5px 5px var(--black1);
}

/* TIME, DATE & TIMEDATE-LOCAL INPUT */

#setup,
#refreshconfig {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    justify-content: center;
}

#setup input,
#refreshconfig input {
    font-size: 1rem;
    outline: none;
    padding: .5rem;
}

#setup button {
    background-color: var(--white2);
    border: 2px solid var(--black2);
    color: #222;
    font-size: 1rem;
    grid-column: 1 / span 2;
    padding: .5rem;
    transition: all .5s linear;
}

#setup button:hover {
    background-color: var(--black2);
    border: 2px solid var(--white2);
    color: var(--white2);
    cursor: pointer;
}

/* ERROR MESSAGE */

#errormsg {
    color: var(--red);
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 0 0 5px var(--black1);
}

/* PROGRESS BAR */

#progressBar {
    display: none;
    width: 90%;
}

#progressBar p {
    margin-bottom: .5rem;
    text-align: center;
}

#progressBar span {
    color: var(--blue);
}

#bar {
    background-color: var(--white2);
    width: 100%;
}

#progress {
    background-color: var(--blue);
    height: 40px;
    width: 0%;
}

/* TIME UNITS */

.container {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.25rem;
    gap: 1.25rem;
    justify-content: center;
}

.unit {
    text-align: center;
    text-shadow: 0 0 5px var(--white1);
}

@media (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        font-size: 1.25rem;
    }

    #setup,
    #refreshconfig {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto;
    }

    #setup label {
        text-align: center;
    }

    #setup button {
        grid-column: 1 / span 1;
    }
}