* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --negro1: #111;
    --negro2: #222;
    --blanco1: #eee;
    --blanco2: #ddd;
    --rojo: #FF0000;
    --azul: #4169E1;
}

/* img: https://www.pexels.com/photo/black-sand-dunes-2387793/ */

body {
    color: var(--blanco1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heroImage {
    height: 100vh;
    background: url(img.jpg) center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 5px 5px 5px var(--negro1);
}

/* TIME, DATE & TIMEDATE-LOCAL INPUT */

#setup,
#refreshconfig {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#setup input,
#refreshconfig input {
    padding: .5rem;
    font-size: 1rem;
    outline: none;
}

#setup button {
    padding: .5rem;
    font-size: 1rem;
    background-color: var(--blanco2);
    color: #222;
    border: 2px solid var(--negro2);
    transition: all .5s linear;
    grid-column: 1 / span 2;
}

#setup button:hover {
    cursor: pointer;
    background-color: var(--negro2);
    color: var(--blanco2);
    border: 2px solid var(--blanco2);
}

/* ERROR MESSAGE */

#errormsg {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--rojo);
    text-shadow: 0 0 5px var(--negro1);
}

/* PROGRESS BAR */

#progressBar {
    display: none;
    width: 90%;
}

#progressBar p {
    text-align: center;
    margin-bottom: .5rem;
}

#progressBar span {
    color: var(--azul);
}

#bar {
    width: 100%;
    background-color: var(--blanco2);
}

#progress {
    width: 0%;
    height: 40px;
    background-color: var(--azul);
}

/* TIME UNITS */

.container {
    font-size: 1.25rem;

    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.unit {
    text-align: center;
    text-shadow: 0 0 5px var(--blanco1);
}

@media (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        font-size: 1.25rem;
    }

    #setup,
    #refreshconfig {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
    }

    #setup label {
        text-align: center;
    }

    #setup button {
        grid-column: 1 / span 1;
    }
}