* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* img: https://www.pexels.com/photo/black-sand-dunes-2387793/ */

body {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heroImage {
    height: 100vh;
    background: url(img.jpg) center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 5px 5px 5px #111;
}

#setup {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#setup label {
    text-align: right;
}

#setup input {
    padding: .5rem;
    font-size: 1rem;
}

#setup button {
    padding: .5rem;
    font-size: 1rem;
    background-color: #ddd;
    color: #222;
    border: 2px solid #222;
    transition: all .5s linear;
    grid-column: 1 / span 2;
}

#setup button:hover {
    cursor: pointer;
    background-color: #222;
    color: #ddd;
    border: 2px solid #ddd;
}

#errormsg {
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 5px #111;
}

.container {
    font-size: 1.25rem;

    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.unit {
    text-align: center;
    text-shadow: 0 0 5px #eee;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        font-size: 1.25rem;
    }
}